<!--
  The Disqus lazy loading.
  Powered by: <https://github.com/osvaldasvalutis/disqusLoader.js>
-->

<div id="disqus" class="pt-2 pb-2">
  <p class="text-center text-muted small pb-5">
    Comments powered by <a href="https://disqus.com/">Disqus</a>.
  </p>
</div>

<script src="{{ '/assets/js/lib/jquery.disqusloader.min.js' | relative_url }}"></script>
<script>
  const options = {
    scriptUrl: '//{{ site.disqus.shortname }}.disqus.com/embed.js',

    disqusConfig: function () {
      this.page.title = '{{ page.title }}';
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url }}';
      this.callbacks.onReady.push(clearDisqusAds);
    },
  };

  $.disqusLoader('#disqus', options);

  // Custom code to delete the ad frames
  function clearDisqusAds() {
    const disqus = $('#disqus_thread');
    setTimeout(function () {
      if (disqus.children().length >= 3) {
        const comments = disqus.find('iframe:nth-child(2)').detach();
        disqus.empty().append(comments);
      }
    }, 2000);
  }
</script>
