{% assign width=800 %}
{% assign height=350 %}

{% if include.width %}
{% assign width = include.width %}
{% endif %}

{% if include.height %}
{% assign height = include.height %}
{% endif %}

{% capture url %}/assets/stl/{{include.src}}{% endcapture %}

{% capture style %}width: {{width}}px; height: {{height}}px;
-webkit-box-shadow: 3px 0px 10px 0px #000000; 
box-shadow: 3px 0px 10px 0px #000000;
{% if include.extrastyle %}{{include.extrastyle}}{% endif %}
{% endcapture %}

<div class="3d-model col-12" data-src="{{url}}" style="{{style}}"></div>