h1.code-label,
h2.code-label,
h3.code-label,
h4.code-label,
h5.code-label,
h6.code-label {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
}

.code-label {
    padding: 0px 50px;
    margin-top: 0px;
    margin-bottom: 0px !important;
    border-radius: 10px 10px 0px 0px !important;
    background-color: #202020 !important;
    box-shadow: 0px 10px 2px #252525;
    font-weight: 800;
    font-size: 22px;
    border: #303030 2px solid;
    border-bottom: #303030 thin dashed;
    background: rgb(36,36,36);
    background: -moz-linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(32,32,32,1) 20%);
    background: -webkit-linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(32,32,32,1) 20%);
    background: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(32,32,32,1) 20%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242424",endColorstr="#202020",GradientType=1);
}

.code-desc {
    margin-bottom: 0px !important;
    margin-top: 0px;
    padding-left: 1rem;
    padding-right:1rem;
    border: #303030 2px solid;
    border-top: none;
    border-bottom: none;
    background: rgb(36,36,36);

    ol, ul {
        margin-bottom: 0rem;
    }

    dd {
        margin-bottom: 0px;
        padding-bottom: .5rem;
    }
}
ul.code-desc,
ol.code-desc {
    padding-bottom: .5rem;
}

.code-desc-first {
    padding-top: .5rem;
}

.code-desc-last {
    padding-bottom: .1rem;
    border-bottom: #303030 thin dashed;
}

dl.code-desc > dt > code {
    color: #ff3399;
}

dl.code-desc > dt::before {
    content: "• ";
}

// h5.code-desc,
// h4.code-desc,
// h3.code-desc,
// h2.code-desc {
//     margin-top: -2.5rem;
//     padding-bottom: .5rem;
// }

.code-label + div.highlighter-rouge,
.code-desc + div.highlighter-rouge,
.code-desc + pre:has(code) {
    padding: 0px;
    margin-top: 0px;
    border: #303030 2px solid;
    border-top: none;
    border-radius: 0px 0px 10px 10px !important;
}

td.rouge-code {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    tab-size: 2;
}

@media (max-width: 576px) {
    .code-label, .code-desc {
        margin-left: -1.25rem;
        margin-right: -1.25rem;
        border-radius: 0;
    }

    .code-desc {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    ul.code-desc,
    ol.code-desc {
        padding-left: 3rem;
    }
}

// Replacement for default padding of 1.5 rem on non-line numbers code blocks
div[class^=highlighter-rouge] td.rouge-code,
div.language-plaintext.highlighter-rouge td.rouge-code,
div.language-console.highlighter-rouge td.rouge-code,
div.language-terminal.highlighter-rouge td.rouge-code,
div>pre {
    padding: 1rem;
}